@charset "UTF-8";

/* a {
	text-align: left;
	font-size: 1.5em;
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

img {
	width: 30px;
	height: 30px;
}
*/



.icon {
	height: 50px;
	width: 50px;
}